
.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #f6f6f6;
  background-color: #FCFBF7;
  background-color: #F7F5EF;
  /* background-color: #FAFAFA; */
  /* background-color: #FDFBF5; */
  border: 1px solid #E7E5DF;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 1em;
  margin-left: 1.5em;
}
.profile-name,
.social-logo {
  margin-top: 0.5em;
  margin-left: 1.5em;
  margin-right: auto;
}
.social-logo {
  display: flex;
  gap: 1em;
}
.section-name {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.section-name:hover,
.cv:hover,
.profile-name:hover {
  cursor: pointer;
}
.cv {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
  margin-left: 1.5em;
}
.sections {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  margin-top: 2em;
  margin-left: 1.5em;
}
.current-section {
  width: 100%;
  height: 10em;
}

.feed > section {
  scroll-margin-top: 50px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
