.sidebar {
  height: 100%;
  background-color: #f6f6f6;
  background-color: #fcfbf7;
  background-color: #f7f5ef;
  /* background-color: #FAFAFA; */
  /* background-color: #FDFBF5; */
  border: 1px solid #e7e5df;
}
.inter-tight {
  font-family: "Inter Tight";
}
.profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
